[submodule "tools/colima/src"]
	path = tools/colima/src
	url = https://github.com/abiosoft/colima.git
[submodule "tools/nix/src"]
	path = tools/nix/src
	url = https://github.com/NixOS/nix.dev.git
[submodule "tools/git/src"]
	path = tools/git/src
	url = https://github.com/git/git
[submodule "golang/src"]
	path = golang/src
	url = https://github.com/golang/go.git
[submodule "kubernetes/src"]
	path = kubernetes/src
	url = https://github.com/kubernetes/kubernetes.git
[submodule "frontend/react/src"]
	path = frontend/react/src
	url = https://github.com/facebook/react.git
[submodule "frontend/react/playground/frontend/vite/src"]
	path = frontend/react/playground/frontend/vite/src
	url = https://github.com/vitejs/vite.git
[submodule "frontend/vite/src"]
	path = frontend/vite/src
	url = https://github.com/vitejs/vite.git
[submodule "cloud/gcp/src"]
	path = cloud/gcp/src
	url = https://github.com/googleapis/google-cloud-go.git
[submodule "golang/third-party/tablewriter/src"]
	path = golang/third-party/tablewriter/src
	url = https://github.com/olekukonko/tablewriter.git
[submodule "golang/third-party/opentelemetry/opentelemetry-go/src"]
	path = golang/third-party/opentelemetry/opentelemetry-go/src
	url = https://github.com/open-telemetry/opentelemetry-go.git
[submodule "golang/third-party/opentelemetry/opentelemetry-go-instrumentation/src"]
	path = golang/third-party/opentelemetry/opentelemetry-go-instrumentation/src
	url = https://github.com/open-telemetry/opentelemetry-go-instrumentation.git
[submodule "golang/third-party/grpc/src"]
	path = golang/third-party/grpc/src
	url = https://github.com/protocolbuffers/protobuf-go.git
[submodule "golang/third-party/repl-gore/src"]
	path = golang/third-party/repl-gore/src
	url = https://github.com/x-motemen/gore.git
[submodule "golang/third-party/cobra/src"]
	path = golang/third-party/cobra/src
	url = https://github.com/spf13/cobra.git
[submodule "tools/vim/src"]
	path = tools/vim/src
	url = https://github.com/iggredible/Learn-Vim.git
[submodule "cloud/gcp/examples"]
	path = cloud/gcp/examples
	url = https://github.com/GoogleCloudPlatform/golang-samples
